*{
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 44px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.input {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
  padding-left: 35px;
}
.input-adress {
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  border-radius: 2px;
  height: 40px;
  flex: 0.8;
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
}
.input-adress:focus,
.input-search:focus {
  outline: 2px solid blue;
}
.input-search {
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  width: 300px;
  margin-left: auto;
}
.buttons {
  display: flex;
}
.button {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: #FFFFFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
  border-radius: 2px;
  color: #595959;
  font-size: 16px;
  line-height: 24px;
}
.button-primary {
  background: #1890FF;
  border: 1px solid #1890FF;
  color: white;
  margin-right: 10px;
}
.button-cart:hover{
  background-color: #1890FF;
  border: 1px solid #1890FF;
  color: white;
}
.button-icon {
  margin: 6px;
}
.promo {
  box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
  background: #FFF1B8 url(../img/promo-img.png) no-repeat top 50px right -100px / 800px;
  border-radius: 10px;
  padding: 68px 70px;
  margin-bottom: 56px;
}
.promo-title {
  font-style: normal;
  font-weight: bold;
  font-size: 39px;
  line-height: 46px;
  color: #302C34;
}
.promo-text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #302C34;
  max-width: 538px;
}
.main {
  background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
.section-heading {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin: 0;
  color: #000000;
  margin-right: 30px;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.card {
  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
}
.card-image {
  width: 384px;
  height: 250px;
  object-fit: cover;
}
.card-text {
  padding-top: 20px;
  padding-bottom: 35px;
  padding-left: 23px;
  padding-right: 23px;
}
.card-heading-restaurant{
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-heading-food{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
}
.card-tag {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: white;
  background-color: black;
  border-radius: 2px;
  padding: 1px 8px;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rating {
  margin-right: 20px;
  color: #FFC107;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
}
.time{
  margin-left: 15px;
}
.price, 
.category,
.time {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #8C8C8C;
}
.price {
  margin-right: 10px;
}
.price::after {
  content: "";
  width: 5px;
  height: 5px;
  background-color: #8C8C8C;
  display: inline-block;
  vertical-align: middle;
  border-radius:  50%;
  margin-left: 10px;
}
.buy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -20px;
  margin-top: 10px;
}
.to-order{
  width: 160px; 
  height: 30px;
  font-size: 20px;
  line-height: 24px;
  border: 1px solid wheat;
  outline: none;
  color: white;
  background-color: rgb(160, 152, 138);
  border-radius: 4px;
}
.to-order:hover {
  background-color:#1890FF;
  color: white ;
  border: 1px solid #1890FF;

}
.card-link {
  text-decoration: none;
  color: black;
}
.card-link:hover{
  background-color: #FFF1B8;
  border-radius: 1px;
}
.footer {
  padding: 10px 0;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-nav {
  margin-left: 35px;
  margin-right: auto;
}
.footer-link {
  display: inline-block;
  color: #595959;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
}
.footer-link:not(:last-child) {
  margin-right: 15px;
}
.footer-link:hover{
  border-bottom: 1px solid black;
}
.social-links {
  display: flex;
  align-items: center;
}
.social-link:not(:last-child) {
  margin-right: 21px;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}
.is-open {
  display: flex;
}
.modal-dialog {
  max-width: 780px;
  width: 95%;
  background: #FFFFFF;
  border-radius: 5px;
  margin: auto;
  padding: 40px 45px;
}
.modal-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 45px;
}
.close {
  font-size: 36px;
  border: none;
  background-color: transparent;
}
.modal-title {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px
}
.modal-body{
  margin-bottom: 52px;
}
.modal-confirm:hover {
  background-color: greenyellow;
  border: 1px solid greenyellow;
}
.modal-escape:hover {
  background-color: #FA8072;
  border: 1px solid #FA8072;
}
.food-row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #D9D9D9;
  margin-bottom: 15px;
}
.food-name {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px
}
.food-price {
  margin-left: auto;
  margin-right: 47px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;
}
.food-counter {
  display: flex;
  align-items: center;
}
.counter-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 39px;
  height: 32px;
  background: #FFFFFF;
  border: 1px solid #40A9FF;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #40A9FF;
  padding-left: 16px;
}
.counter {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-buttons {
  display: flex;
  align-items: center;
}
.pricetag {
  background: #262626;
  border-radius: 5px;
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  padding: 15px 20px;
}
.register {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.is-visible{
  display: flex;
}
.register-dialog {
  max-width: 780px;
  height: 260px;
  background: #FFFFFF;
  border-radius: 4px;
  margin: auto;
  padding: 40px 45px;
  margin-top: 50px;
}
.register-header {
  display: flex;
  justify-content: center;
  margin-top: -50px;
}
.register-body {
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
.register-name {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 33px;
}
.input-registr {
  width: 300px;
  height: 40px;
  border: 2px solid powderblue;
  margin-bottom: 10px;
  outline: none;
  transition: width 2s, height 2s;
}
.input-registr:focus{
  border: 4px solid purple;
  width: 57%;
}
.register-footer {
  justify-content:space-between;
  display: flex;
}
.register-join {
  width: 90px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  border: 1px solid black;
  background-color: white;
  color: purple;
  outline: none;
}
.register-join:hover {
  background-color: purple;
  color: white;
}
.register-registr {
  width: 250px;
  height: 40px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  outline: none;
  background-color: wheat;
  border: 1px solid black;
}
.register-registr:hover {
  background-color: purple;
  color: white;
}